body{
    background-color: #F0F0F0;
}

h2{
    font-size: .8em;
    font-weight: 200;
}

.card-box{
    background-color: white;
    padding: 10px;
}

.card-space{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}